$s-cyan: hsl(171, 66%, 44%);
$l-blue: hsl(233, 100%, 69%);
$dg-blue: hsl(210, 10%, 33%);
$g-blue: hsl(201, 11%, 66%);
$white: hsl(0, 0%, 100%);
$f-white: hsl(0, 0%, 94%);
$s-cyan-h: hsl(171, 94%, 66%);
$l-blue-h: hsl(233, 100%, 79%);